/* Theme Colors */

:root {
    --primary-color: rgb(0, 0, 0);
    --font-color: #bc5090;
    --bg-color: #83a4d4;
    --secondary-bg-color: #b6fbff;
    --hover-color: rgb(0, 55, 255);
    --projects-bg: white;
}

[data-theme="dark"] {
    --primary-color: rgb(255, 255, 255);
    --font-color: #ff6361;
    --bg-color: #2C3E50;
    --secondary-bg-color: #4CA1AF;
    --hover-color: #bdbdbd;
    --projects-bg: rgb(218, 218, 218);
}

/* Body */

body {
    font-family: monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

.container1 {
    display: flex;
    flex-direction: column;  
    justify-content: center;
    position: relative;
    width: 100%;
    padding-bottom: 100px;
}

.gradient-background {
    background: linear-gradient(var(--bg-color), var(--secondary-bg-color), var(--bg-color));
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    align-items: center;
}

.home-link {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    position: fixed; /* Keep it in the same place on the screen */
    top: 10px; /* Distance from the top of the viewport */
    left: 15px; /* Distance from the left of the viewport */
    padding: 8px;
    text-decoration: none; /* Remove underline from the link */
    color: var(--primary-color);
    font-size: 20px;
    z-index: 1000; /* Ensure it's on top of other content */
}

.home-link:hover {
    color: var(--hover-color);
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}


/* Home View */

.home {
    display: flex;
    flex-direction: column;
    padding-top: 8%;
}

.home.header {
    color: var(--primary-color);
}

.site_pages {
    color: var(--primary-color);
    font-size: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.site_pages:hover {
    color: var(--hover-color);
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}



.border {
    border-color: var(--primary-color) !important;
}

#headshot {
    width: 220px;
    height: auto;
}


.link {
    font-size: 30px;
    margin-right: 10px;
    margin-left: 10px;
    color: var(--primary-color);
    position: relative;
    display: inline-block;
}

.link:hover {
    color: var(--hover-color);
    /* transform: scale(1.1); */
}

/* Tooltip text */
.link .linktext {
    visibility: hidden;
    width: auto; 
    white-space: nowrap;
    background-color: black;
    color: #fff;
    font-size: 15px;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 45px;
    transform: translateX(-50%);
    transition: visibility 0.2s, opacity 0.2s ease-in;
}

.link:hover .linktext {
    visibility: visible;
}

.link .linktext::after {
    content: " ";
    position: absolute;
    top: -10px; 
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent; 
}



.scroll {
    text-align: center;
    margin-top: auto; 
    font-size: 30px;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
    color: var(--primary-color);
}

/* Theme Button */

.mode {
    position: fixed; /* Fixed position regardless of scrolling */
    top: 0;        
    right: 0;   
    margin-top: 10px;
    margin-right: 25px;
    font-size: 20px;
}

.theme {
    color: rgb(49, 49, 49);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: rgb(234, 234, 234);
    border-radius: 100%;
    border: 2px solid black;
    box-shadow: 4px 4px rgb(234, 234, 234);
}

.theme:hover {
    color: var(--hover-color);
}

.theme:active {
    box-shadow: 0px 0px var(--main-color);
    transform: translate(3px, 3px);
  }

.input {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: 0;
}

/* Experience Page */

.experience-container {
    display: flex;
    flex-direction: column;  
    align-items: center; 
    height: 100vh;
    color: var(--primary-color);
}

/* About Page */

.about-container {
    display: flex;
    flex-direction: column;  
    align-items: center; 
    color: var(--primary-color);
}

.about-content {
    width: 45%;
    margin-top: 30px;
}

.about-text {
    text-align: justify;
    font-size: 17px;
}

.about-image {
    float: left;
    margin: 5px 10px 5px 0;
    width: 220px;
    height: auto;
}
/* Projects Page */

.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    width: 100%;
}

.projects-label {
    margin-bottom: 30px;
}

.project-gallery {
    display: flex;
    flex-wrap: wrap;
    overflow-y:hidden;
    justify-content: space-around;
    background-color: var(--projects-bg);
    max-width: 88%;
    min-width: 88%;
    height: 80%;
    border: 3px solid black;
}

.project-card {
    width: 30%; /* Adjust based on your layout */
    margin: 10px 0;
    min-width: 320px;
    height: 96%;
    background: linear-gradient(var(--bg-color), var(--secondary-bg-color));
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-decoration: none;
}


.scroll-arrow {
    font-size: 50px;
}


.scroll-arrow:hover {
    cursor: pointer;
    /* transform: scale(1.1); */
}

.project-card:hover {
    transform: scale(0.98);
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.betting-project-image {
    padding-top: 10px;
    width: 95%; /* Make image fill card width */
    height: auto; /* Maintain aspect ratio */
}

.betting-project-image {
    transition: transform .5s;
}
  
.betting-project-image:hover {
    transform: translate(200px) scale(2.2);
}

.fraud-project-image {
    padding-top: 10px;
    width: 95%; /* Make image fill card width */
    height: auto; /* Maintain aspect ratio */
}

.fraud-project-image {
    transition: transform .5s;
}
  
.fraud-project-image:hover {
    transform: translateY(-100px) scale(1.6);
}


.project-title, .project-summary {
    padding: 10px; /* Padding inside the card */
    font-family: monospace;
}



/* Contact Page */

.contact-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    color: var(--primary-color);
}

.contact-content {
    display: flex;
    width: 75%; 
    align-items: flex-start;
}
.contact-left, .contact-right {
    flex: 1;
    display: flex;
    justify-content: center; 
    flex-direction: column;
    gap: 20px;
    align-items: center;
}


.contact-right-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

.contact-right-icon {
    border: 2px solid var(--primary-color); 
    border-radius: 50%;
    width: 70px; 
    height: 70px; 
    display: inline-flex; 
    align-items: center; 
    justify-content: center; 
    padding: 5px; 
    font-size: 40px;

}
.contact-right-items p {
    font-size: 20px;
    padding-top: 20px;
}


.contact-left-title h3 {
    color: var(--primary-color);
    font-size: 40px;
    margin-bottom: 5px;
}

.contact-left hr {
    border: none;
    width: 260px;
    height: 5px;
    background-color: var(--primary-color);
    border-radius: 10px;
    margin-bottom: 20px;
}
.contact-inputs {
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: var(--font-color);
    border-radius: 50px;
}
.contact-left textarea {
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}

.contact-inputs:focus {
    border: 2px solid var(--font-color);
}

.contact-inputs::placeholder {
    color: #a9a9a9;
}

.contact-left button {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: white;
    gap: 10px;
    border: none;
    border-radius: 50px;
    outline: none;
    background: linear-gradient(270deg, #4CA1AF, #4c7faf);
}
.contact-left button:hover {
    transform: scale(0.95);
}

footer {
    margin-top: auto; 
    color: var(--primary-color);
}